:root {
    --title-margin-top: 45px;
    --title-font-size: 30px;
    --title-line-height: 1.2;
    --title-color: #445161;
}
*{
    font-family: Arial, sans-serif;
    margin: 0;
}
body {
    background-color: #f5f5f5;
}
.container {
    padding: 0;
    margin: 0;
}
.productHeader {
    padding: 50px;
    background-color: #445161;
}
.productName{
    font-size: 60px;
    color: #fff;
    text-shadow: .5px .9px 0 rgba(0, 0, 0, .3);
    margin-top: 0;
}
.productList {
    padding-left: 32px;
    margin-bottom: 0;
}
.productList li {
    font-size: 20px;
    color: #fff;
    list-style-image: url("../img/check-icon.png");
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    line-height: 1.8;
}
.productImg {
    float: right;
    width: 469px;
    height: auto;
}
.aboutProduct {
    padding: 50px;
    background-color: #fff;
}
.aboutTitle {
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    margin: 0 50px 10px 0;
    color: var(--title-color);
    float: left;
}
.aboutProductImg {
    width: 430px;
    height: 245px;
    float: right;
}
.aboutProductText {
    overflow: hidden;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin: 18px 0 0 0;
    text-align: justify;
}
.plusesProduct {
    padding: 50px;
}
.plusesTitle {
    margin: 0 auto;
    text-align: center;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--title-color);
}
.plusesList {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.plusesList li {
    margin-top: 30px;
    background: url("../img/plus.png") no-repeat left 5px;
    padding-left: 45px;
    line-height: 1.5;
    text-align: justify;
}
.screenshots {
    background-color: #fff;
    padding: 50px;
}
.screenshotsItem {
    overflow: hidden;
}
.screenshotsItem:nth-child(-n+2) {
    margin-bottom: 20px;
}
.screenshotsTitle {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--title-color);
}
.screenshotsItemImg {
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 10px;
}
.screenshotsItemTitle {
    font-size: 24px;
    line-height: 1.25;
    color: #445161;
    margin: -6px 0 8px 5px;
}
.screenshotsItemText {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
}
.reviews {
    padding: 50px;
}
.reviewsTitle {
    text-align: center;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--title-color);
    margin-bottom: 30px;
    margin-top: 0;
}
.reviewsItem:nth-child(-n+2) {
    margin-bottom: 20px;
}
.reviewsItemImg {
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 75px;
}
.reviewsItemText {
    height: fit-content;
    background: #ebebeb;
    border-radius: 5px;
    margin-left: 90px;
    font-size: 14px;
    line-height: 1.29;
}
.reviewsItemText p {
    margin: 0 16px 3px 16px;
    padding-top: 10px;
    font-style: italic;
    color: #333;
    text-align: justify;
}
.reviewsItemText figcaption {
    margin-left: 27px;
    color: #989898;
    padding-bottom: 8px;
}
.buyItNow {
    padding: 50px;
    background-color: #fff;
}
.buyItNowItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.buyItNowTitle {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--title-color);
}
.buyItNowItem {
    width: 300px;
    float: left;
    background: #445162;
    color: #fff;
    border-radius: 5px;
}
.buyItNowItemTitle {
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    line-height: 30px;
}
.buyItNowItemPrice {
    text-align: center;
    width: 100%;
    height: 71px;
    font-size: 40px;
    line-height: 71px;
    color: #445162;
    background: #fff;
    border: solid 2px #445162;
}
.buyItNowItemList {
    font-size: 14px;
    line-height: 1.71;
    margin: 17px 0 17px 0;
    list-style-position: inside;
    padding-left: 25px;
}
.buyItNowItemButton {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #445161;
    font-size: 18px;
    line-height: 1;
    margin: 0 auto 17px auto;
}
.contacts {
    background: #445162;
    padding: 50px;
}
.contactsTitle {
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-weight: normal;
}
.contactsContent {
}
.contactsForm {
}
.contactsForm input:not([type='submit']),
.contactsForm textarea{
    width: 100%;
    float: left;
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 38px;
    color: #445162;
    padding-left: 10px;
    text-transform: capitalize;
}
.contactsMessage {
    height: 170px;
    resize: none;
}
.contactsButton {
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    color: #445162;
    font-weight: bold;
}
.contactsList {
    list-style-type: none;
    line-height: 1.5;
    color: #ffffff;
    font-size: 16px;
}
.contactsList li {
    margin-bottom: 26px;
    padding-left: 30px;
}
.contactsListSkype {
    background: url("../img/skype_icon.png") no-repeat left;
}
.contactsListIcq {
    background: url("../img/icq_icon.png") no-repeat left;
}
.contactsListEmail {
    background: url("../img/email_icon.png") no-repeat left;
}
.contactsListPhone{
    background: url("../img/phone_icon.png") no-repeat left;
}
.contactsSocial {
    display: block;
    width: 100%;
    height: 3em;
    background: url(../img/social_buttons.png) no-repeat;
    background-size: contain;
}
.productFooter {
    height: 30px;
}
.productFooterText {
    text-align: center;
    color: #445162;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.3px;
}

@media(max-width: 1199px) {
    .productHeader {
        padding: 15px;
    }
    .productImg {
        width: 100%;
        height: auto;
    }
    .aboutProduct {
        padding: 15px;
    }
    .aboutProductImg {
        width: 100%;
        height: auto;
    }
    .plusesProduct {
        padding: 15px;
    }
    .screenshots {
        padding: 15px;
    }
    .reviews {
        padding: 15px;
    }
    .buyItNow {
        padding: 15px;
    }
    .buyItNowItem {
        width: 260px;
    }
    .contacts {
        padding: 15px;
    }
}
@media (max-width: 991px) {
    .productHeader {
        text-align: center;
    }
    .productName {
        margin-top: 20px;
        font-size: 40px;
    }
    .productList {
        font-size: 18px;
        display: inline-block;
        text-align: left;
    }
    .productImg {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .aboutTitle {
        margin: 20px 0 10px 0;
        text-align: center;
        float: none;
    }
    .aboutProductImg {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    .plusesTitle {
        margin-top: 20px;
    }
    .screenshotsTitle {
        margin-top: 20px;
    }
    .screenshotsItem {
        margin-bottom: 20px;
    }
    .screenshotsItem:last-child {
        margin-bottom: 0;
    }
    .reviewsTitle {
        margin-top: 20px;
    }
    .reviewsItem {
        margin-bottom: 20px;
    }
    .reviewsItem:last-child {
        margin-bottom: 0;
    }
    .buyItNow .buyItNowTitle {
        margin-top: 20px;
    }
    .buyItNowItems {
        flex-direction: column;
    }
    .buyItNowItem {
        width: 100%;
        margin-bottom: 30px;
    }
    .buyItNowItem:last-child {
        margin-bottom: 0;
    }
    .contactsBlock {
        margin-top: 50px;
    }
}
@media (max-width: 410px) {
    .contactsList {
        padding: 0;
    }
    .screenshotsItemImg {
        width: 100%;
        height: auto;
        float: none;
        margin-bottom: 20px;
    }
    .reviewsItem {
        text-align: center;
    }
    .reviewsItemImg {
        float: none;
        margin-bottom: 10px;
    }
    .reviewsItemText {
        margin-left: 0;
    }
    .reviewsItem:not(:last-child) {
        margin-bottom: 50px;
    }
    .reviewsItemText figcaption {
        text-align: right;
        margin-right: 30px;
    }
}